<!DOCTYPE html>
<html>
  <head>
    <title>Notification Action - Help</title>
    <style type="text/css">
      body {
        font-family: Helvetica, Arial;
      }
    </style>
  </head>
  <body>
    <h1></h1>
    <p>Welcome to Notification Action API. We currently have support for the following endpoints in our application:</p>
    <ul>
      <li>
        <b>Url:</b> ~/api/sendEmail
      </li>
      <li>
        <b>HTTP method:</b> POST
      </li>
      <li>
        <b>Data:</b>
        <pre>
        {
          subject: "",
          html: "",
          to: "",
        }
        </pre>
      </li>  
    </ul>
    
  </body>
</html>
