body {
	padding-top:70px;
}

.ng-dirty.ng-invalid {
	border-color:red;
}
.ng-dirty.ng-valid {
	border-color:green;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	width: 850px;
}

.space-top {
	padding-top:20px;
	margin-top:20px;
}